.wrap {
  background: url('/assets/images/home.jpeg') no-repeat;
  background-size: cover;

  .jumbotron {
    backdrop-filter: blur(10px);
    padding: 2vh;
    color: white;

    .main-title {
      margin-top: 10vh;
      margin-bottom: 6vh;
    }

    .lead > a:first-child {
      margin-right: 1vw;
    }
  }
}
