<div class="wrap">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center main-title">Get ready to experience the future of virtual coin transfers with Parrot Wings</h1>
      <hr class="my-4">
      <p class="lead subtitle">Why wait? Choose Parrot Wings for the quickest, most reliable virtual coin transfers on the market</p>
      <p class="lead buttons">
        <a class="btn btn-dark btn-lg" href="#" role="button">Sign Up</a>
        <a class="btn btn-light btn-lg" href="#" role="button">Sign In</a>
      </p>
    </div>
  </div>
</div>
