<div class="container">
  <div class="row justify-content-center">
    <div class="card col-6">
      <div class="card-header">Sign Up</div>
      <div class="card-body">
        <h4 class="card-subtitle mb-2">Welcome to Parrot Wings Coin Transfer!</h4>
        <p class="card-text">Signing up with us is fast and easy – it takes less than a minute!</p>
        <div [formGroup]="formGroup">
          <div class="mb-3">
            <label for="signup-email" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="signup-username"
              formControlName="username"
              [ngClass]="{ 'is-valid': formGroup.get('username')!.valid, 'is-invalid': formGroup.get('username')!.invalid && formGroup.get('username')!.dirty }"
            >
          </div>
          <div class="mb-3">
            <label for="signup-email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="signup-email"
              aria-describedby="emailHelp"
              formControlName="email"
              [ngClass]="{ 'is-valid': formGroup.get('email')!.valid, 'is-invalid': formGroup.get('email')!.invalid && formGroup.get('email')!.dirty }"
            >
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="signup-password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="signup-password"
              formControlName="password"
              aria-describedby="passwordHelp"
              [ngClass]="{ 'is-valid': formGroup.get('password')!.valid, 'is-invalid': formGroup.get('password')!.invalid && formGroup.get('password')!.dirty }"
            >
            <div id="passwordHelp" class="form-text">8-32 characters</div>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="signup-tc-check"
              >
              <label class="form-check-label" for="signup-tc-check">
                Agree to <span class="tnc-link" (click)="showTnCModal($event)">terms and conditions</span>
              </label>
            </div>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="signupError">{{ signupError }}</div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="signup()" [disabled]="formGroup.invalid">Sign Up</button>
      </div>
    </div>
  </div>
</div>
